<div class="container">
    <div class="row">
        <div class="col s12 m6">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                       <h3 class="header">Schwarzes Brett</h3>
                    </div>
                    <div class="card-action">
                        <div class="collection">
                            {{schwarzesBrett}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <h3 class="header">Neue Mails</h3>
                    </div>
                    <div class="card-action">
                        <div class="collection">
                            {{newMails}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
