<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">CeTo</a>
        <a href="#" data-target="slide-out" class="sidenav-trigger left" style="display: inline;"><i class="material-icons">menu</i></a>
    </div>
</nav>
<ul id="slide-out" class="sidenav">
    <li><a href="/"><i class="material-icons left">dashboard</i>Dashboard</a></li>
    <li><a href="/stundenplan"><i class="material-icons left">calendar_today</i>Stundenplan</a></li>
    <li><a href="/carpooling"><i class="material-icons left">directions_car</i>Carpooling</a></li>
    <li><a href="/wiki"><i class="material-icons left">info</i>Wiki</a></li>
    <li><a href="/chat"><i class="material-icons left">chat_bubbles</i>Chat</a></li>
    <li><a href="/praktika"><i class="material-icons left">build</i>Praktika</a></li>
    <li><a href="/mail"><i class="material-icons left">mail_outline</i>Mail</a></li>
</ul>
